# East Jakarta

The most humble city in Jakarta, some of its famous districts are Klender, Pulo Gadung, and Kramat Jati. Some of restaurant here are fast food and in affordable prices.

# Content
* District
* Price Range
* Facility
* Rating

In [12]:
import pandas as pd
from pandasql import sqldf
burger = pd.read_csv('../input/east-jakarta-burger/east_jakarta.csv', sep = ";")

# District

In [2]:
partlor_name = sqldf("SELECT DISTINCT district FROM burger").transpose()
partlor_name

                0        1          2         3            4            5
District  Klender  Cibubur  Cililitan  Matraman  Kramat Jati  Pulo Gadung

Here is the list of the restaurant. Consists of 9 restaurant/partlors available.

In [3]:
burger = sqldf("SELECT no, partlor_name, District, unique_menu, price FROM burger")
burger.style.hide_index()

# Price-Range

We sorted the list from the most expensive and also the cheapest, also with the price range from IDR 50000 to 100000. Here is the order from the most expensive. The most expensive here is Carl's Jr. Klender which their premium menu is priced about 80k, the cheapest menu is Dons Burger Pusat Grosir Cililitan for at least 13k per menu. 

No prices more than 100k, mostly below 50k per menu.

In [4]:
#most expensive
burger_price = sqldf("SELECT partlor_name, district, unique_menu, price FROM burger ORDER BY price DESC")
burger_price.head().style.hide_index()

In [5]:
#cheapest
burger_price = sqldf("SELECT partlor_name, district, unique_menu, price FROM burger ORDER BY price")
burger_price.head().style.hide_index()

In [6]:
#more than IDR 100000
burger_price = sqldf("SELECT partlor_name, district, unique_menu, price FROM burger WHERE price >= 100000")
burger_price.style.hide_index()

In [7]:
#between 50000 to 100000
burger_price = sqldf("SELECT partlor_name, district, unique_menu, price FROM burger WHERE price BETWEEN 50000 AND 100000")
burger_price.style.hide_index()

In [8]:
#below IDR 50000
burger_price = sqldf("SELECT partlor_name, district, unique_menu, price FROM burger WHERE price <= 50000")
burger_price.style.hide_index()

# Facility
Last but not least, we chose the restaurant whether we could takeaway, or deliver our food. We also could find out whether these partlor has outdoor seats, smoking room, wifi, and reservation. Last but not least, we researched about poultry with some dietary restriction like alcohol and halal_menu. But this halal menu will not available in other project. We changed to other_poultry instead.

From the list I have, all of them doesn't have any alcohol drink and the food is halal. Also there are very few facilities available on outdoor seat, smoking area, and especially wifi. But you don't need to book for having burger in this area.

Let's take a look for all the facility, I counted each of them also.

In [11]:
burger = sqldf("""SELECT no, partlor_name, district, takeaway, delivery, outdoor_seat,
smoking_area, alcohol_served, wifi, reservation, drive_thru, halal_food FROM burger""")
burger.style.hide_index()

# Rating

Here is the best possible restaurant in Eastern Jakarta. Highest is Dons Burger Pusat Grosir Cililitan which scored 4.46, followed by Burger King Cibubur Junction scored 4.3 and Carl's Jr. Klender scored 4.23. If the score is more than 3.5 then the partlor is worthed to try. All the facility and menu are representated by all both google and platform rating and count, so in the meantime only ratings are counted here.

In [13]:
burger = sqldf("""SELECT partlor_name, district, ltrim(google_rating) as google_rating, ltrim(zomato_rating) as zomato_rating, ltrim(qraved_rating) as qraved_rating, 
ltrim((google_rating + zomato_rating + qraved_rating)/3, 1) as total_rating,
CASE
    WHEN ltrim((google_rating + zomato_rating + qraved_rating)/3,1) >= 3.5 THEN "Recommended"
    ELSE "Reconsider"
END AS "Recommendation"
FROM burger
ORDER BY total_rating DESC""")
burger.style.hide_index()