# Singaporean Food in Indonesia Phrase III : Sumatra, Kalimantan, Sulawesi, and Papua Area

This is the last phrase of Singaporean food in Indonesia series. In this notebook I'll show you list of Singaporean restaurant in Sumatra (Medan, Padang, Palembang), Kalimantan (Pontianak, Palangkaraya, Balikpapan), Sulawesi (Manado), and Papua (Jayapura). So here is the list curated from Google Maps and various platform website. This time I'll be using Tripadvisor, Traveloka Eats, and Pergi Kuliner as the source.

Originally there are 101 restaurants selected all around Indonesia,which 23 of them are located in this area. Note that the list here is not always the authentic one. There are coffee shop named Kopitiam and Chinese restaurant which has Singaporean food but never claimed themselves as Singaporean restaurant. At least they got kaya toast, hainanse rice, laksa, chili crab and etc, will explain more on menu.

# Content
* Overview
* Menu
* Facility
* Rating

In [150]:
from pandasql import sqldf
import pandas as pd
singapore = pd.read_csv("../input/singapore-food/singapore_id.csv", sep = ";")

# Overview

Here is all the list of restaurants sorted by region and city, there are also their unique menu, price, and ratings. Most of prices ranged from 20k until 65k and ratings are quite rave. Medan and Palembang is the most available restaurant.

In [139]:
singapore = sqldf("""SELECT no, restaurant_name, region, city, unique_menu, price, 
ltrim(google_rating) as google_rating, ltrim(platform_rating) as platform_rating 
FROM singapore 
WHERE region LIKE '%Sumatra' OR region LIKE '%Kalimantan' OR region LIKE '%Sulawesi' OR region LIKE '%Papua'""")
singapore.style.hide_index()

# Menu

Like the previous part, I'll divide those menu on three category, which are Rice & Noodle Menu, Poultry Menu, and Toast & Snack Menu.

**Rice & Noodle**

Here is their Rice and Noodle Menu. For the rice they mostly have hainanse rice and various porridge. For noodle they have noodle (mostly mee goreng) and kway teow. Also there are laksa and bakmi ayam as well. All shown here are representative for each city, so then check issue for complete csv available.

There are some restaurant doesn't serving noodle which are Singapore Chicken Rice, One Chick (Pontianak), Bubur Singapore (Makassar), Aman Hainanse Chicken Rice, and Liu Kee (Medan), only hainanse rice available. Rajawali Kopitiam does have bakmi ayam only. 

For disambiguation, mee is mie/noodle, fried rice is nasi goreng, kway teow is kwetiaw, beehoon is bihun, and hainanse rice is nasi hainam. Bakmi ayam is quite similar with wonton noodle but it's different after all.

In [141]:
singapore  = sqldf("""SELECT restaurant_name, city, rice_menu, noodle, noodle_specific
FROM singapore
WHERE region LIKE '%Sumatra' OR region LIKE '%Kalimantan' OR region LIKE '%Sulawesi' OR region LIKE '%Papua'
GROUP BY city""")
singapore.style.hide_index()

**Poultry Menu**

Based on the list here, the poultry menu are mostly dominated by chicken but only as a topping (signed by 'yes'), but some places have chicken speciality like kungpao and blackpepper. The seafood is quite rare but some places mostly has prawn as majority. Restaurant serving seafood are New Star Kopitiam Resto (Balikpapan, prawn only), Bubur Singapore (Makassar), M Kopitiam (Palembang), and New Town Kopitiam Bukit Golf (Palembang). There are three places serving pork, which are Singapore Chicken Rice (Pontianak), Aman Hainanse Chicken Rice (Medan), and SING Bakuteh (Mando). Mostly the other poultry dominated by vegetables.

In [143]:
singapore  = sqldf("""SELECT restaurant_name, city, chicken, seafood, poultry_other
FROM singapore
WHERE region LIKE '%Sumatra' OR region LIKE '%Kalimantan' OR region LIKE '%Sulawesi' OR region LIKE '%Papua'
GROUP BY city""")
singapore.style.hide_index()

**Toast & Snack Menu**

Similar with the previous part, kaya toast is also popular in this area. Which means kaya toast is the most popular Singaporean toast for entire Indonesia. As for snack the fries are the most popular, but there is a place named Aman Hainanse Chicken Rice (Medan) which has unique snack which no other place have, like chasio, siobak, and pekamche. In this section, toast and snack are listed separately.

In [145]:
singapore  = sqldf("""SELECT restaurant_name, city, toast
FROM singapore
WHERE (region LIKE '%Sumatra' OR region LIKE '%Kalimantan' OR region LIKE '%Sulawesi' OR region LIKE '%Papua') AND (toast NOT LIKE '%no')""")
singapore.style.hide_index()

In [147]:
singapore  = sqldf("""SELECT restaurant_name, city, snack_dish
FROM singapore
WHERE (region LIKE '%Sumatra' OR region LIKE '%Kalimantan' OR region LIKE '%Sulawesi' OR region LIKE '%Papua') AND (snack_dish NOT LIKE '%no')""")
singapore.style.hide_index()

# Facility

All of them have takeaway options and majority of them has delivery options except some places. None of them has outdoor seat and smoking area, except Bangi Kopitiam, M Kopitiam, New Town Kopitiam, Pace Tan Pu Kopitiam, and Lins Kopitiam for the outdoor, and SING Bakuteh Manado and Rajawali Kopitiam for the smoking place. Note that sometimes outdoor area is also a smoking area. Only three places serving alcohol, which are Bangi Kopitiam (Palembang), New Town Kopitiam (Palembang), and M Kopitiam (Palembang). Lastly, wifi is available in small number, mostly in Palembang and Papua area.

In [149]:
singapore  = sqldf("""SELECT restaurant_name, city, takeaway, delivery, outdoor_seat, smoking_area, alcohol_served, wifi
FROM singapore
WHERE region LIKE '%Sumatra' OR region LIKE '%Kalimantan' OR region LIKE '%Sulawesi' OR region LIKE '%Papua'
GROUP BY city""")
singapore.style.hide_index()

# Rating

These ratings are ordered by highest total rating, should they have more than 3.5 then the restaurant is worth to try. All the facility and menu are representated by all both google and platform rating and count, so in the meantime only ratings are counted here. Based on the results, Liu Kee Hainanse Chicken Rice (Medan), M Kopitiam (Palembang), and Aman Hainanse Chicken Rice (Medan) are the top 3 among the list.

Based on the area, for Sumatra they got Liu Kee Hainanse Chicken Rice which is the best from Medan (scored 4,9). Then from Palembang they have M Kopitiam which is the most proper (scored 4,85). Pondok Kopitiam is the only one Singaporean related kopitiam remaining in Padang (scored 4,5).

For Kalimantan area, Onechick (Pontianak) has the highest rating among their region (scored 4,5). Abun Kopitiam is better than New Star Kopitiam Resto in Balikpapan (scored both 4,35 and 3,8). Palangka Kopitiam is the only one Singaporean related cuisine in Palangkaraya (scored 3,95).

In Sulawesi, SING Bakuteh Manado is the best on the region (scored 4,5) and Bubur Singapore is the most popular on Makassar (scored 4,45).

Lastly, Bangi Kopitiam Jayapura is the best from Jayapura among the three (scored 4,55).

In [151]:
singapore = sqldf("""SELECT restaurant_name, city, ltrim(google_rating) as google_rating, ltrim(platform_rating) as platform_rating, 
ltrim((google_rating + platform_rating)/2) as total_rating,
CASE
    WHEN (google_rating + platform_rating)/2 >= 3.5 THEN "Recommended"
    ELSE "Reconsider"
END AS "Recommendation"
FROM singapore WHERE region LIKE '%Sumatra' OR region LIKE '%Kalimantan' OR region LIKE '%Sulawesi' OR region LIKE '%Papua'
ORDER BY total_rating DESC""")
singapore.style.hide_index()