# Singaporean Food in Indonesia Phrase I : Sumatra, Kalimantan, Sulawesi, and Papua Area

In this notebook I'll show you list of Singaporean restaurant in Sumatra (Medan, Padang, Palembang), Kalimantan (Pontianak, Palangkaraya, Balikpapan), Sulawesi (Manado), and Papua (Jayapura). So here is the list curated from Google Maps and various platform website. This time I'll be using Tripadvisor, Traveloka Eats, and Pergi Kuliner for the source.

Originally there are 101 restaurants selected all around Indonesia,which 23 of them are located in this area. Note that the list here is not always the authentic one. There are coffee shop named Kopitiam and Chinese restaurant which has Singaporean food but never claimed themselves as Singaporean restaurant. At least they got kaya toast, hainanse rice, laksa, chili crab and etc, will explain more on menu.

# Content
* Region-City
* Menu
* Facility
* Rating

In [26]:
from pandasql import sqldf
import pandas as pd
singapore = pd.read_csv("../input/singapore-food/singapore_id.csv", sep = ";")

In [2]:
singapore = sqldf("""SELECT no, restaurant_name, region, city, unique_menu, price, ltrim(google_rating) as google_rating, ltrim(platform_rating) as platform_rating 
FROM singapore 
WHERE region LIKE '%Sumatra' OR region LIKE '%Kalimantan' OR region LIKE '%Sulawesi' OR region LIKE '%Papua'""")
singapore.style.hide_index()

# Menu

Like the previous part, I'll divide those menu on three category, which are Rice & Noodle Menu, Poultry Menu, and Toast & Snack Menu.

**Rice & Noodle**

Here is their Rice and Noodle Menu. For the rice they mostly have hainanse rice and various porridge. For noodle they have noodle (mostly mee goreng) and kway teow. Also there are laksa and bakmi ayam as well.

For disambiguation (next time you look for the menu), mee is mie/noodle, fried rice is nasi goreng, kway teow is kwetiaw, beehoon is bihun, and hainanse rice is nasi hainam. Bakmi ayam is quite similar with wonton noodle but it's different after all.

In [5]:
singapore  = sqldf("""SELECT restaurant_name, city, rice_menu, noodle, noodle_specific
FROM singapore
WHERE region LIKE '%Sumatra' OR region LIKE '%Kalimantan' OR region LIKE '%Sulawesi' OR region LIKE '%Papua'""")
singapore.style.hide_index()

**Poultry Menu**

Based on the list here, the poultry menu are mostly dominated by chicken but only as a topping (signed by 'yes'), but some places have chicken speciality like kungpao and blackpepper. The seafood is quite rare but some places mostly has prawn as majority. There are only two places which serving pork. Mostly the other poultry dominated by vegetables.

In [7]:
singapore  = sqldf("""SELECT restaurant_name, city, chicken, seafood, poultry_other
FROM singapore
WHERE region LIKE '%Sumatra' OR region LIKE '%Kalimantan' OR region LIKE '%Sulawesi' OR region LIKE '%Papua'""")
singapore

,restaurant_name,city,chicken,seafood,poultry_other
0,Singapore Chicken Rice,Pontianak,yes,no,pork
1,Onechick,Pontianak,yes,no,no
2,Palangka Kopitiam,Palangkaraya,yes,yes,beef (rendang)
3,New Star Kopitiam Resto,Balikpapan,"mushroom, sweet and sour, butter, fried, spicy...",prawn,"beef, tofu"
4,Abun Kopitiam,Balikpapan,no,no,no
5,Bakmi Singapore,Manado,no,no,beef
6,SING Bakuteh Manado,Manado,no,no,no
7,Bangi Kopi Perintis,Makassar,"geprek, teriyaki, blackpaper, kungpao, steak",no,vegetables
8,Bubur Singapore,Makassar,honey,"crab, squid, prawn, fish","beef, vegetables, egg"
9,Aman Hainanse Chicken Rice,Medan,yes,no,pork
10,Liu Kee Hainanse Chicken Rice,Medan,yes,no,no
11,10 SP Hainan Chicken Rice,Medan,yes,yes,vegetables
12,Uncle K Sun Plaza,Medan,"katsudon, curry, roasted, fried",yes,no
13,Kiliney Sun Plaza,Medan,yes,no,no
14,Pondok Kopitiam,Padang,basil,no,no
15,Bangi Kopitiam Palembang,Palembang,"geprek, teriyaki, blackpaper, kungpao, steak",no,vegetables
16,New Town Kopitiam,Palembang,geprek,no,beef
17,Rajawali Kopitiam,Palembang,yes,no,no
18,M Kopitiam,Palembang,yes,"prawn, squid",no
19,New Town Kopitiam Bukit Golf,Palembang,"spicy, butter, fried, lemon, kungpao, honey, c...","prawn, squid, crab, fish","tofu, vegetables"
20,Bangi Kopitiam Jayapura,Jayapura,"geprek, teriyaki, blackpaper, kungpao, steak",no,vegetables
21,Pace Tan Pu Kopitiam,Jayapura,yes,no,no
22,Lin's Kopitiam,Jayapura,yes,no,no

**Toast & Snack Menu**

Similar with the previous part, kaya toast is also popular in this area. Which means kaya toast is the most popular Singaporean toast for entire Indonesia. As for snack the fries are the most popular, but there is a place named Aman Hainanse Chicken Rice (Medan) which has unique snack which no other place have, like chasio, siobak, and pekamche. In this section, toast and snack are listed separately.

In [9]:
singapore  = sqldf("""SELECT restaurant_name, city, toast
FROM singapore
WHERE region LIKE '%Sumatra' OR region LIKE '%Kalimantan' OR region LIKE '%Sulawesi' OR region LIKE '%Papua'""")
singapore

,restaurant_name,city,toast
0,Singapore Chicken Rice,Pontianak,no
1,Onechick,Pontianak,no
2,Palangka Kopitiam,Palangkaraya,"kaya, chocolate, cheese, strawberry, chocolate..."
3,New Star Kopitiam Resto,Balikpapan,"kaya, chocolate cheese, butter sugar"
4,Abun Kopitiam,Balikpapan,kaya
5,Bakmi Singapore,Manado,no
6,SING Bakuteh Manado,Manado,no
7,Bangi Kopi Perintis,Makassar,"peanut, butter, milo, kaya, ice cream, egg, po..."
8,Bubur Singapore,Makassar,no
9,Aman Hainanse Chicken Rice,Medan,no
10,Liu Kee Hainanse Chicken Rice,Medan,no
11,10 SP Hainan Chicken Rice,Medan,no
12,Uncle K Sun Plaza,Medan,"kaya, curry chicken, peanut butter, ice cream ..."
13,Kiliney Sun Plaza,Medan,"kaya butter, ovomaltine, pineapple, peanut, bu..."
14,Pondok Kopitiam,Padang,"kaya pandan, kaya toast, pineapple, butter, egg"
15,Bangi Kopitiam Palembang,Palembang,"peanut, butter, milo, milk, kaya, ice cream, e..."
16,New Town Kopitiam,Palembang,"kaya, chocolate cheese, floss, milo, melted ch..."
17,Rajawali Kopitiam,Palembang,"kaya, chocolate cheese, skippy"
18,M Kopitiam,Palembang,no
19,New Town Kopitiam Bukit Golf,Palembang,"kaya, strawberry, banana chocolate cheese, nut..."
20,Bangi Kopitiam Jayapura,Jayapura,"peanut, butter, milo, kaya, ice cream, egg, po..."
21,Pace Tan Pu Kopitiam,Jayapura,"kaya, milo, butter sugar, butter nutella, chee..."
22,Lin's Kopitiam,Jayapura,"kaya butter, cheese, peanut, milo, butter suga..."

In [11]:
singapore  = sqldf("""SELECT restaurant_name, city, snack_dish
FROM singapore
WHERE region LIKE '%Sumatra' OR region LIKE '%Kalimantan' OR region LIKE '%Sulawesi' OR region LIKE '%Papua'""")
singapore

,restaurant_name,city,snack_dish
0,Singapore Chicken Rice,Pontianak,"ngohiang, shumai"
1,Onechick,Pontianak,no
2,Palangka Kopitiam,Palangkaraya,"banana fritter, cassava, french fries, tofu"
3,New Star Kopitiam Resto,Balikpapan,"french fries, pasta, shumay, maryam bread"
4,Abun Kopitiam,Balikpapan,wonton
5,Bakmi Singapore,Manado,"shumai, wonton"
6,SING Bakuteh Manado,Manado,"cakwe, bok choy"
7,Bangi Kopi Perintis,Makassar,"shumai, wonton, hakau, steamed bun, french fri..."
8,Bubur Singapore,Makassar,no
9,Aman Hainanse Chicken Rice,Medan,"chasio, siobak, pekcamkhe"
10,Liu Kee Hainanse Chicken Rice,Medan,no
11,10 SP Hainan Chicken Rice,Medan,no
12,Uncle K Sun Plaza,Medan,"martabak, roti tissue, prata bread, chinese do..."
13,Kiliney Sun Plaza,Medan,"prata bread, banana fritter, steamed bun, shum..."
14,Pondok Kopitiam,Padang,"wonton, cassava, sweet potato fries"
15,Bangi Kopitiam Palembang,Palembang,"shumai, wonton, hakau, steamed bun, french fri..."
16,New Town Kopitiam,Palembang,"banana fritter, french fries, calamari, chicke..."
17,Rajawali Kopitiam,Palembang,"dimsum, sukiau, hakau, mantau, spring roll, ba..."
18,M Kopitiam,Palembang,no
19,New Town Kopitiam Bukit Golf,Palembang,"dimsum, mantau, spring roll, shumai, canai bread"
20,Bangi Kopitiam Jayapura,Jayapura,"shumai, wonton, hakau, steamed bun, french fri..."
21,Pace Tan Pu Kopitiam,Jayapura,"traditional snack, banana fritter, french frie..."
22,Lin's Kopitiam,Jayapura,"banana fritter, tofu, fish ball, soft boiled egg"

# Facility

All of them have takeaway options and majority of them has delivery options except some places. None of them has outdoor seat and smoking area, except Bangi Kopitiam, M Kopitiam, New Town Kopitiam, Pace Tan Pu Kopitiam, and Lins Kopitiam for the outdoor, and SING Bakuteh Manado and Rajawali Kopitiam for the smoking place.

Note that sometimes outdoor area is also a smoking area. Only three places serving alcohol (which is beer) and wifi is available in small number.

In [13]:
singapore  = sqldf("""SELECT restaurant_name, city, rice_menu, noodle, noodle_specific
FROM singapore
WHERE region LIKE '%Sumatra' OR region LIKE '%Kalimantan' OR region LIKE '%Sulawesi' OR region LIKE '%Papua'""")
singapore

,restaurant_name,city,rice_menu,noodle,noodle_specific
0,Singapore Chicken Rice,Pontianak,"hainanse rice, rice plate",no,no
1,Onechick,Pontianak,hainanse rice,no,no
2,Palangka Kopitiam,Palangkaraya,"hainanse rice, rice plate, nasi lemak","noodle, kway teow, beehoon","mee goreng, noodle soup"
3,New Star Kopitiam Resto,Balikpapan,"hainanse rice, rice plate, fried rice","noodle, kway teow, beehoon","curry noodle, bakmi ayam, mie demek"
4,Abun Kopitiam,Balikpapan,porridge,noodle,bakmi ayam
5,Bakmi Singapore,Manado,"fried rice, rice plate",noodle,"bakmi ayam, mee goreng"
6,SING Bakuteh Manado,Manado,rice bowl,noodle,mee shua
7,Bangi Kopi Perintis,Makassar,"hainanse rice, rice bowl, rice plate, fried rice","noodle, kway teow","curry noodle, prawn noodle, noodle soup, pad t..."
8,Bubur Singapore,Makassar,"hainanse rice nasi lemak (weekend), porridge",no,no
9,Aman Hainanse Chicken Rice,Medan,hainanse rice,no,no
10,Liu Kee Hainanse Chicken Rice,Medan,hainanse rice,no,no
11,10 SP Hainan Chicken Rice,Medan,"hainanse rice, rice plate, porridge",noodle,noodle soup
12,Uncle K Sun Plaza,Medan,"nasi lemak, fried rice, hainanse rice","noodle, kway teow, pasta","laksa, hokkien mie, prawn noodle, mee goreng, ..."
13,Kiliney Sun Plaza,Medan,fried rice,"noodle, kway teow","laksa, mee goreng"
14,Pondok Kopitiam,Padang,"hainanse rice, porridge, fried rice","noodle, kway teow","mee goreng, bakmi ayam (breakfast only)"
15,Bangi Kopitiam Palembang,Palembang,"hainanse rice, rice bowl, rice plate, fried rice","noodle, kway teow","curry noodle, prawn noodle, noodle soup, pad t..."
16,New Town Kopitiam,Palembang,"porridge, rice plate, fried rice","noodle, kway teow, beehoon, pasta","mee goreng, mie aceh, ifumie"
17,Rajawali Kopitiam,Palembang,porridge,noodle,bakmi ayam
18,M Kopitiam,Palembang,"hainanse rice, rice plate","noodle, kway teow","bakmi ayam, mee goreng"
19,New Town Kopitiam Bukit Golf,Palembang,"fried rice, rice plate","noodle, kway teow, beehoon, pasta","mee goreng, mie aceh, ifumie"
20,Bangi Kopitiam Jayapura,Jayapura,"hainanse rice, rice bowl, rice plate, fried rice","noodle, kway teow","curry noodle, prawn noodle, noodle soup, pad t..."
21,Pace Tan Pu Kopitiam,Jayapura,"fried rice, rice plate, porridge","noodle, kway teow, beehoon","mee goreng, ifumie, noodle soup"
22,Lin's Kopitiam,Jayapura,"fried rice, rice plate, porridge","noodle, kway teow, beehoon","laksa, mee goreng, noodle soup"

# Rating

These ratings are ordered by highest total rating, should they have more than 3.5 then the restaurant is worth to try. All the facility and menu are representated by all both google and platform rating and count, so in the meantime only ratings are counted here. Based on the results, Liu Kee Hainanse Chicken Rice (Medan), M Kopitiam (Palembang), and Aman Hainanse Chicken Rice (Medan) are the top 3 among the list.

Based on the area, for Sumatra they got Liu Kee Hainanse Chicken Rice which is the best from Medan (scored 4,9). Then from Palembang they have M Kopitiam which is the most proper (scored 4,85). Pondok Kopitiam is the only one Singaporean related kopitiam remaining in Padang (scored 4,5).

For Kalimantan area, Onechick (Pontianak) has the highest rating among their region (scored 4,5). Abun Kopitiam is better than New Star Kopitiam Resto in Balikpapan (scored both 4,35 and 3,8). Palangka Kopitiam is the only one Singaporean related cuisine in Palangkaraya (scored 3,95).

In Sulawesi, SING Bakuteh Manado is the best on the region (scored 4,5) and Bubur Singapore is the most popular on Makassar (scored 4,45).

Lastly, Bangi Kopitiam Jayapura is the best from Jayapura among the three (scored 4,55).

In [27]:
singapore = sqldf("""SELECT restaurant_name, city, google_rating, platform_rating, (google_rating + platform_rating)/2 as total_rating,
CASE
	WHEN (google_rating + platform_rating)/2 >= 3.5 THEN "Recommended"
    ELSE "Reconsider"
END AS "Recommendation"
FROM singapore WHERE region LIKE '%Sumatra' OR region LIKE '%Kalimantan' OR region LIKE '%Sulawesi' OR region LIKE '%Papua'
ORDER BY total_rating DESC""")
singapore

,restaurant_name,city,google_rating,platform_rating,total_rating,Recommendation
0,Liu Kee Hainanse Chicken Rice,Medan,5.0,4.8,4.90,Recommended
1,M Kopitiam,Palembang,4.7,5.0,4.85,Recommended
2,Aman Hainanse Chicken Rice,Medan,4.6,4.7,4.65,Recommended
3,10 SP Hainan Chicken Rice,Medan,4.6,4.7,4.65,Recommended
4,Rajawali Kopitiam,Palembang,4.4,4.7,4.55,Recommended
5,Bangi Kopitiam Jayapura,Jayapura,4.2,4.9,4.55,Recommended
6,Onechick,Pontianak,4.5,4.5,4.50,Recommended
7,SING Bakuteh Manado,Manado,4.0,5.0,4.50,Recommended
8,Kiliney Sun Plaza,Medan,4.3,4.7,4.50,Recommended
9,Pondok Kopitiam,Padang,4.5,4.5,4.50,Recommended
10,Bubur Singapore,Makassar,3.9,5.0,4.45,Recommended
11,New Town Kopitiam Bukit Golf,Palembang,4.5,4.4,4.45,Recommended
12,Uncle K Sun Plaza,Medan,4.0,4.8,4.40,Recommended
13,Abun Kopitiam,Balikpapan,4.4,4.3,4.35,Recommended
14,Bangi Kopi Perintis,Makassar,4.3,4.2,4.25,Recommended
15,New Town Kopitiam,Palembang,4.5,4.0,4.25,Recommended
16,Pace Tan Pu Kopitiam,Jayapura,4.3,4.2,4.25,Recommended
17,Lin's Kopitiam,Jayapura,4.3,4.2,4.25,Recommended
18,Palangka Kopitiam,Palangkaraya,3.9,4.0,3.95,Recommended
19,Bangi Kopitiam Palembang,Palembang,4.3,3.5,3.90,Recommended
20,New Star Kopitiam Resto,Balikpapan,4.1,3.5,3.80,Recommended
21,Bakmi Singapore,Manado,4.0,2.5,3.25,Reconsider
22,Singapore Chicken Rice,Pontianak,5.0,0.0,2.50,Reconsider