# Steakhouse Draft Menu List : Western

Western is a common genre in steak area as its 'originated', where the price range are above IDR 200k. They have the most complete course from appetizer, main course, and dessert. 

The poultry also the most vary especially for the beef choices. Which are striploin, chateaubriand, mignon, t-bone, and tomahawk (other than ordinary sirloin-tenderloin-rib eye). Even they have lamb and foie grass as well. For seafood section there are one or two places served barramundi-- all are in South Jakarta.

There are 44 western restaurants in Jakarta, special for this section I divide based on city, but unfortunately East Jakarta can't be displayed as they don't have any western like those restaurant, mostly available on other sections especially Local and Local Westerned. Each section contained of glimpse menu and price, poultry, and courses. There are also facility at the bottom, providing options like takeaway, delivery, outdoor/smoking area, alcohol, wifi, reservation, and other special features.

In [30]:
import pandas as pd
from pandasql import sqldf
steak = pd.read_csv('../input/steakhouse-jakarta/Steakhouse.csv', sep = ";")

In [3]:
steak = sqldf("""SELECT COUNT(specialized) 
FROM steak 
WHERE specialized = 'Western'""")
steak.style.hide_index()

# Central Jakarta

In this area, the steakhouse mostly located in Thamrin and Sudirman (office building and shopping mall), least in Menteng and Cikini (owned place). Most choices for beef are rib eye, sirloin, and tenderloin. **SKYE Thamrin** has the most beef available including tomahawk and t-bone. **MUCCA Steak** has the most expensive menu which is Tomahawk Bone in Rib Eye Steak, priced for IDR 9.400k.

As for chicken they are mostly either grilled or roasted. They also have mostly salmon on their seafood menu. Despite this, **Tony Roma's (Thamrin)** and **Gandy Steak House (Menteng)** both have chicken menu like steak and schnitzel, also much more seafood, some platters, and other dish. For other meat they have pork on Tony Roma's and SKYE, lamb on Gandy Steak House, and foie gras for OSCAR (Thamrin) and SKYE.

For appetizer they mostly have salad, pasta, and soup. Also wraps and quesadilla. They also have burger, fries, and pizza. They mostly have ice cream and cake for calling the session. Watch for Tony Roma's and SKYE which has special dessert menu, **OSCAR** for the most sweet menu.

In [7]:
steak = sqldf("""SELECT restaurant_name, district, place, unique_menu, price
FROM steak
WHERE city = 'Central Jakarta' AND specialized = 'Western' 
ORDER BY price DESC""")
steak.style.hide_index()

In [9]:
steak = sqldf("""SELECT restaurant_name, district, place, beef, chicken, seafood, other_poultry
FROM steak
WHERE city = 'Central Jakarta' AND specialized = 'Western'""")
steak.style.hide_index()

In [11]:
steak = sqldf("""SELECT restaurant_name, district, place, appetizer, other_dish, dessert
FROM steak
WHERE city = 'Central Jakarta' AND specialized = 'Western'""")
steak.style.hide_index()

# South Jakarta

South Jakarta has the most western steak restaurant in region, mostly located on their own place as the city also have some high end household. Senayan and SCBD has the most, least are in Senopati, Kemang, and Dharmawangsa. Most expensive is Australian Wagyu Tomahawk from **The Brotherhood (Senopati)** for IDR 880k, but **Cut & Grill (Tebet)** prices based on market, apparently. Look at those unique menu as they are really unique and worth to try, they also have chateaubriand at **Cork & Stew (SCBD)**.

For beef selection, they have sirloin, rib eye, and tenderloin, but they also have some distinct beef like striploin, t-bone, mignon, and tomahawk. Chicken are not too much but **Tony Roma's Gandaria and Gandy Steak House Pondok Indah** are vary. Fish and chips are common as it's so many on this area, but **Animale Restaurant (Setiabudi)** and **Odysseia (SCBD)** has the most seafood available. The seafood also distinct of black cod, barramundi, calamari, sea bass, and oyster. Mostly dominated by seafood for other poultry but pork, lamb, and duck also available as well.   

The appetizers mostly by soup, salad, quesadilas, and fries. Cut & Grill has bruschetta and **Hurricane's Grill (Senopati)** has most distinct appetizer menu. Burger, sandwich, and rice menu also available and cake, pannacotta, and ice cream for the dessert, but Bakerzin has the their most distinct.

In [13]:
steak = sqldf("""SELECT restaurant_name, district, place, unique_menu, price
FROM steak
WHERE city = 'South Jakarta' AND specialized = 'Western'
ORDER BY price DESC""")
steak.style.hide_index()

In [15]:
steak = sqldf("""SELECT restaurant_name, district, beef, chicken, seafood, other_poultry
FROM steak
WHERE city = 'South Jakarta' AND specialized = 'Western'""")
steak.style.hide_index()

In [17]:
steak = sqldf("""SELECT restaurant_name, district, appetizer, other_dish, dessert
FROM steak
WHERE city = 'South Jakarta' AND specialized = 'Western'""")
steak.style.hide_index()

# West Jakarta

West Jakarta's western steak restaurant placed on their own place respectively on Green Ville, Roxy, and Cengkareng. **SOULSPIN (Cengkareng)** has their most expensive menu which is Full Rack BBQ Baby Back Ribs for IDR 389k. But Wagyu Brisket from **B'Steak Grill & Pancake (Green Ville)** is also worth to try.

They have various beef steak but B'Steak has the most vary options. For chicken menu they mostly have chicken steak, but other western menu also there like schnitzel and cordon bleu. SOULSPIN has pork menu, B'Steak and **Gandy Steak House(Green Ville)** has lamb menu and rest of them are seafood. Salmon and fish and chips are most common here. 

Gandi Steak House has the most vary appetizer, garlic bread and quesadilas are two of them. Burger, fries, and pasta also available in this area, but seafood steak is available at **American Grill (Roxy)**. For closing the course they have ice cream/gelato, B'steak has the most vary available. But SOULSPIN has many waffle and sweet drinks.

In [19]:
steak = sqldf("""SELECT restaurant_name, district, place, unique_menu, price
FROM steak
WHERE city = 'West Jakarta' AND specialized = 'Western' 
ORDER BY price DESC""")
steak.style.hide_index()

In [21]:
steak = sqldf("""SELECT restaurant_name, city, beef, chicken, seafood, other_poultry
FROM steak
WHERE (city = 'West Jakarta') AND specialized = 'Western'""")
steak.style.hide_index()

In [23]:
steak = sqldf("""SELECT restaurant_name, district, appetizer, other_dish, dessert
FROM steak
WHERE city = 'West Jakarta' AND specialized = 'Western'""")
steak.style.hide_index()

# North Jakarta

North Jakarta's western are most located in Kelapa Gading and Pantai Indah Kapuk area. The most expensive is Tomahawk from **PAVVO (Pantai Indah Kapuk)** which priced IDR 1.850k. There also an all you can eat steak restaurant called **Steak 21 Buffet Kelapa Gading**. **Holy Smokes PIK** also has their wagyu brisket for IDR 160k each. 

**B'Steak Kelapa Gading** and Holy Smokes PIK has their most beef steak, BarBarRibs only has ribs and PAVVO only have tomahawk. The chicken are much served on **Street Steak (Kelapa Gading)**, B'Steak, and **Alter Five Beer & Restaurant (Mangga Dua)**, but steak are rare here. Pork is served on **BarBarRibs** at Kelapa Gading and least five bottom on beef section. Lamb is also available at three places.

Salad and fries are the most vary appetizer, other than steak there are other various menu from rice, sausage, to burger etc. Holy Smokes and B'Steak has the most dessert from tart, pie, to ice cream, and PAVVO has their own croissant.

In [25]:
steak = sqldf("""SELECT restaurant_name, district, unique_menu, price
FROM steak
WHERE city = 'North Jakarta' AND specialized = 'Western'
ORDER BY price DESC""")
steak.style.hide_index()

In [27]:
steak = sqldf("""SELECT restaurant_name, beef, chicken, seafood, other_poultry
FROM steak
WHERE city = 'North Jakarta' AND specialized = 'Western'""")
steak.style.hide_index()

In [29]:
steak = sqldf("""SELECT restaurant_name, appetizer, other_dish, dessert
FROM steak
WHERE city = 'North Jakarta' AND specialized = 'Western'""")
steak.style.hide_index()

# Facility

They have many takeaway options but delivery are rare, very rare. Even they mostly don't have outdoor options but luckily smoking area are much available. Wine, cocktail, beer and liquor are most available alcohol options, almost all of them has wifi and can be reserved. 

There are Gandy Steak House which also turned up to bakery. Mucca Steak and BarBarRibs are claimed to be kids friendly. **J Steak (Blok M)** and **Holy Smokes (Senopati)** have their own valet parking, **SKYE** has their best city view. We can also costumize our order freely at **Super Steak (Blok M)**, meanwhile B'Steak and Street Steak both have payer room, private room are much more accessible here.

In [31]:
steak = sqldf("""SELECT restaurant_name, city, district, takeaway, delivery, outdoor, smoking_area,
alcohol_served, wifi, reservation, other
FROM steak 
WHERE specialized = 'Western'""")
steak.style.hide_index()