# **West Jakarta**

West Jakarta is the modest city with the mix of culture and history. Despite this, the burger here is also worth to try and almost the same with East Jakarta area, dominated by fast food. Most known districts is Tanjung Duren where Central Park, one of the famous shopping center is located. Other districts available are Cengkareng, Grogol, Meruya and Puri Indah.

# Content
* District
* Price Range
* Facility
* Rating

In [41]:
import pandas as pd
from pandasql import sqldf
burger = pd.read_csv('../input/west-jakarta-burger/west_jakarta.csv', sep = ";")

# District

In [31]:
partlor_name = sqldf("SELECT DISTINCT district FROM burger").transpose()
partlor_name

                   0              1       2       3            4           5
District  Cengkareng  Tanjung Duren  Grogol  Meruya  Kebon Jeruk  Puri Indah

In [32]:
burger = sqldf("SELECT no, partlor_name, District, unique_menu, price FROM burger")
burger.style.hide_index()

# Price-Range

We sorted the list from the most expensive and also the cheapest, also with the price range from IDR 50000 to 100000. Here is the order from the most expensive.

The most expensive one is TGI Fridays Central Park which priced for at least 120K. Most fast food available are Burger King and Carl's Jr.

In [33]:
#most expensive
burger_price = sqldf("SELECT partlor_name, district, unique_menu, price FROM burger ORDER BY price DESC")
burger_price.head().style.hide_index()

In [34]:
#cheapest
burger_price = sqldf("SELECT partlor_name, district, unique_menu, price FROM burger ORDER BY price")
burger_price.head().style.hide_index()

In [35]:
#more than IDR 100000
burger_price = sqldf("SELECT partlor_name, district, unique_menu, price FROM burger WHERE price >= 100000")
burger_price.style.hide_index()

In [36]:
#between 50000 to 100000
burger_price = sqldf("SELECT partlor_name, district, unique_menu, price FROM burger WHERE price BETWEEN 50000 AND 100000")
burger_price.style.hide_index()

In [37]:
#below IDR 100000
burger_price = sqldf("SELECT partlor_name, district, unique_menu, price FROM burger WHERE price <= 50000")
burger_price.style.hide_index()

# Facility

Last but not least, we chose the restaurant whether we could takeaway, or deliver our food. We also could find out whether these partlor has outdoor seats, smoking room, wifi, and reservation. Last but not least, we researched about poultry with some dietary restriction like alcohol and halal_menu. But this halal menu will not available in other project. We changed to other_poultry instead.

All can do takeaway and delivery except for TGI Fridays which has takeaway options only. Most of them doesn't have outdoor seat and smoking area except for Burger King Mall Taman Anggrek which got their smoking area. TGI Fridays got both their outdoor seat and smoking area.

For wifi options, almost all restaurant/partlors here got their wifi except all Flip Burger outlet and Carl's Jr. Central Park area. And more importantly, almost all vendor has not got their restrictions dietary as they got no alcohol menu (except for TGI Fridays) and the food is allowed to eat.

No reservation needed except for TGI Fridays, again.

Let's take a look for all of these facility.

In [40]:
burger = sqldf("""SELECT no, partlor_name, district, takeaway, delivery, outdoor_seat, smoking_area,
alcohol_served, wifi, reservation, drive_thru, halal_food FROM burger""")
burger.style.hide_index()

# Rating

Here is the best restaurant available in West Jakarta, the highest is Carl's Jr. Central Park and Lippo Mall Puri, each scored 4.3. Followed by Flip Burger Kebon Jeruk which scored 4.1. If the score is more than 3.5 then the partlor is worthed to try. If the score is more than 3.5 then the partlor is worthed to try. All the facility and menu are representated by all both google and platform rating and count, so in the meantime only ratings are counted here.

In [42]:
burger = sqldf("""SELECT partlor_name, district, ltrim(google_rating) as google_rating, ltrim(zomato_rating) as zomato_rating, ltrim(qraved_rating) as qraved_rating, 
ltrim((google_rating + zomato_rating + qraved_rating)/3, 1) as total_rating,
CASE
    WHEN ltrim((google_rating + zomato_rating + qraved_rating)/3,1) >= 3.5 THEN "Recommended"
    ELSE "Reconsider"
END AS "Recommendation"
FROM burger
ORDER BY total_rating DESC""")
burger.style.hide_index()