# Steakhouse Draft Menu List : Western Specialist

Different from western, this project is specified other than english-speaking country. In this section I divide those into two section : Latina and Central Europe region. There are 13 restaurants through Jakarta area. The price range also the same with western one, above IDR 200k or nearby.

Each section contained of glimpse menu and price, poultry, and courses. There are also facility at the bottom, providing options like takeaway, delivery, outdoor/smoking area, alcohol, wifi, reservation, and other special features.

In [18]:
import pandas as pd
from pandasql import sqldf
steak = pd.read_csv('../input/steakhouse-jakarta/Steakhouse.csv', sep = ";")

In [2]:
steak = sqldf("""SELECT COUNT(specialized) 
FROM steak 
WHERE specialized = 'Brazilian' OR specialized = 'Mexican' OR specialized = 'Argentinian' 
OR specialized = 'Italian' OR specialized = 'French'""")
steak.style.hide_index()

# Latina Region

Latina Region consist of all South American countries like Brazil, Mexico, and Argentina. 

The Most expensive one is Sirloin Strip from La Posta which priced IDR 395k. 

There is a all you can eat Brazilian food (including steak) called **Tucano's Churrascaria** based on two locations, Sudirman and Senayan. There are some distinct menu name right here which are Bifes Con Cebolla (grilled marinated steak) from **El Asador (Kemang)** and Chivito Plato (Churrasco tenderloin steak covered with mozarella cheese and others) from **El Machote (Menteng)**.

El Machote and La Posta both have most beef steak choices, even got their flank and brisket. Not much chicken and seafood but they are there. Only El Machote is serving pork and lamb right now. **Carbon (Setiabudi)** has salmon, lobster, and duck.

Most of appetizers are Mexican-style dishes, such as empanada (turnover pastry like pastel), quesadilas, along with soup and pasta. There are some fries food and ice cream also. Tucano's Churrascaria Senayan and Carbon has the most dessert available including churros, fruit salad, and others.

In [5]:
steak = sqldf("""SELECT restaurant_name, specialized, district, place, unique_menu, price
FROM steak
WHERE specialized = 'Brazilian' OR specialized = 'Mexican' OR specialized = 'Argentinian'
ORDER BY price DESC""")
steak.style.hide_index()

In [9]:
steak = sqldf("""SELECT restaurant_name, specialized, district, beef, chicken, seafood, other_poultry
FROM steak
WHERE specialized = 'Brazilian' OR specialized = 'Mexican' OR specialized = 'Argentinian'""")
steak.style.hide_index()

In [11]:
steak = sqldf("""SELECT restaurant_name, specialized, district, appetizer, other_dish, dessert
FROM steak
WHERE specialized = 'Brazilian' OR specialized = 'Mexican' OR specialized = 'Argentinian'""")
steak.style.hide_index()

# Central Europe Region

Central Europe are consist of two European countries, Italy and France. Most of them are located in South Jakarta except for **Caffe Milano (Thamrin)** and **Rosso (Sudirman)** which both located in Central Jakarta. 

Most expensive one is Filetto di Manzo in Salsa Al Gorgonzola (Australian beef tenderloin in Gorgonzola cheese sauce) for IDR 490k from Rosso. Other distinct menu is Filetto Al Pepe which are Seared prime beef tenderloin with Brandy sauce from **Alto Restaurant (Gatot Subroto) and Bar** and Steak fillet with peppercorn sauce and mustard from **Volare (Fatmawati)**.

Within beef selection Volare and Liberte have most vary beef and seafood, chicken are mostly served in parmigiana layered with cheese and tomato sauce. There are some seafood available, mostly lobster and salmon. No pork available here, but foie gras and lamb. 

They are serving soup, pasta, pizza, and risotto as their appetizer, then there is pizza for other main menu options, and ice cream and pannacotta are the most available. But there are also have cream brulee, crepes, and sorbet, even traditional italian but specifically at Rosso.

In [13]:
steak = sqldf("""SELECT restaurant_name, specialized, district, place, unique_menu, price
FROM steak
WHERE specialized = 'Italian' OR specialized = 'French'
ORDER BY price DESC""")
steak.style.hide_index()

In [15]:
steak = sqldf("""SELECT restaurant_name, specialized, district, beef, chicken, seafood, other_poultry
FROM steak
WHERE specialized = 'Italian' OR specialized = 'French'""")
steak.style.hide_index()

In [17]:
steak = sqldf("""SELECT restaurant_name, specialized, district, appetizer, other_dish, dessert
FROM steak
WHERE specialized = 'Italian' OR specialized = 'French'""")
steak.style.hide_index()

# Facility

Takeaway are the most available but delivery is quite rare, La Posta has their delivery menu. Outdoor room are ravely available along with smoking area. Wine and cocktail are the most for alcohol options. All restaurant providing wifi and reservation are suggested. 

**El Machote, La Posta, and Chilis Grill & Bar** can be turned up to a bar. Cafe de Paris has breakfast menu, Chilis Grill & Bar also has kids menu. For live entertainment or music options they're available both for Tucano's Churrascaria restaurants. Rosso has city view, **Volare (Fatmawati) and Liberte (SCBD)** both have corkage fee (charge for those whom bring their own wine).

In [19]:
steak = sqldf("""SELECT restaurant_name, city, district, takeaway, delivery, outdoor, smoking_area,
alcohol_served, wifi, reservation, other
FROM steak 
WHERE specialized = 'Brazilian' OR specialized = 'Mexican' OR specialized = 'Argentinian' 
OR specialized = 'Italian' OR specialized = 'French'""")
steak.style.hide_index()